/* 全局样式表 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    min-width: 1366px;
}
.el-breadcrumb{
    margin-bottom: 20px;
}
.add-list{
  padding: 20px;
}
.add-button{
  float: right;
}
.clear-box{
  clear: right;
}